<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading"><h2>Lista postów</h2></div>
    <div class="panel-body">

<table>
  <thead>
    <tr>
      <th>Opis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.description %></td>
        <td><%= link_to 'Wyświetl', post %></td>
        <% if post.user == current_user %>
          <td><%= link_to 'Edycja', edit_post_path(post) %></td>
          <td><%= link_to 'Usuń', post, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

<div class="panel-footer"><%= link_to 'Nowy Post', new_post_path, class: 'btn btn-primary' %></div>
</div>
